@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.account {
    padding-top: 56px;
    margin: 20px auto;
    max-width: 1440px;
    height: 1024px;
    background-color: #23304C;
    border-radius: 10px;
    box-shadow: 0px 60px 60px rgba(0,0,0,0.25);
}

.account__header {
    max-width: 1065px;
    margin-left: 187px;
    margin-right: 187px;
    height: 58.34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.account__links {
    height: 45px;
    display: flex;
    align-items: center;
}

.account__logo > h1 {
    font-size: 40px;
}

.account__links > button {
    width: 112px;
    height: 100%;
    background: #2B83EA;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.account__links > p {
    font-family: Poppins;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    margin: 0 13px;
}

.account__body {
    display: flex;
    max-width: 1065px;
    height: 702px;
    margin-top: 50px;
    margin-left: 187px;
    margin-right: 187px;
    background: #FAFAFA;
    border-radius: 10px;
}

.account__body__left {
    font-family: Poppins;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 0 50px rgba(0,0,0,0.1);
}

.account__body__left > h2{
    width: 80%;
    text-align: center;
    margin: 60px auto;
}

.account__body__left > input {
    border: none;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    width: 80%;
    height: 27px;
}

input[type=checkbox] {
    transform: scale(1.7);
}

.account__body__left > input::placeholder {
    font-weight: 500;
    line-height: 27px;
    size: 18px;
    color: #859FC1;
}

.account__body__left__info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account__body__left__info {
    width: 80%;
    margin: 0 auto;
}

.account__body__left__info small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.account__body__left__info > button {
    width: 92px;
    height: 27px;
    background: #2B83EA;
    margin-top: 15px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}

.account__body__left__info > p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.account__body__right {
    font-family: Poppins;
    width: 60%;
    padding: 60px;
    text-align: center;
}

.account__body__right__info > h2 {
    margin: 0;
}

.account__body__right__info > p {
    color: #4C5565;
}

.account__body__right__logos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.account__body__right__logos__row {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.account__body__right__logos__row > img{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
}

.account__body__right > p {
    font-size: 15px;
    margin-top: 100px;
    color: #4C5565;
}

a > div {
    width: 100px;
    height: 40px;
    margin: 50px auto;
}

a > div > button {
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 15px;
}